body {
  direction: rtl;
}
.App {
  width: 50em;
  height: 25rem;
  margin: 0 auto;
  background-color: rgb(191, 203, 241);
  border-radius: 1.25rem;
  margin-top: 4em;
}
.formContainer {
  display: flex;
  justify-content: space-around;
  padding: 1em;
  box-sizing: border-box;
}
.rightContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.leftContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
input {
  width: 25em;
  height: 2.7em;
  border: none;

  box-sizing: border-box;
  padding: 1em;
  border-radius: 0.4rem;
}
.fileContainer {
  width: 21em;
  height: 2.5em;
  background-color: white;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 0.5em;
  border-radius: 0.4rem;
}
button {
  width: 10rem;
  height: 2rem;
  margin: 0 auto;
  background-color: rgb(7, 7, 63);
  border-radius: 1.25rem;
  color: white;
  border: none;
}
.buttonConatainer {
  margin-top: 1.5em;
  width: 100%;
  display: flex;
  justify-content: center;
}
.error {
  font-size: 0.875rem;
  color: red;
}
